{% extends "./base.html" %}

{% block content %}
    <div class="container pt-4">
        <form action="form_cliente">
            <input type="submit" value="Add cliente" class="btn btn-success">
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for cliente in clientes  %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <th><a href="detalhe_cliente/{{cliente.id}}">{{cliente.nome}}</th>
                    <th><a href="detalhe_cliente/{{cliente.id}}">{{cliente.email}}</th>
                    <th>
                        <a href="delete_cliente/{{cliente.id}}"><i class="fa-solid fa-eraser"></i></a>
                        <a href="update_cliente/{{cliente.id}}"><i class="fa-solid fa-pencil"></i></a>
                        
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>   

 {% endblock %}

 

